:root{
  --theme-primary-color: #031B4D;
  --theme-primary-complement: #FF0057;
  --theme-landing-form-color: #ECECEC;
  --theme-landing-secondary-color:#6B7282;
  --theme-body-color: #4D4F5C;
  --theme-secondary-color: #ADB5C7;
  --theme-landing-font: "Roboto",-apple-system, BlinkMacSystemFont, "Ubuntu", "Fira Sans", "Helvetica Neue", sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

.app-content{
  height: 100% !important;
}
.core-content{
  margin-left: 250px !important;
  min-height: 100%;
}

.page-content{
  top: 47px;
  position: relative;
  height: 100%;
  padding: 1rem 2rem 5rem;
}

